<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="display-1 d-block">Create Mission</span>
              <div class="mb-4 lead">Upload your file to create a Sci-Discover product</div>
              <input class="form-control flex" type="file" file-input="files" multiple>
          </div>
      </div>
  </div>
</div>



