<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center"><br>
                <span class="display-4 d-block"><p>Create Mission</p></span>
                <div class="mb-4 lead">Upload your file to create a Sci-Discover product</div>
            </div>
        </div>
    </div>
</div>
<div class='wrapper'>
    <input class="inp" type="file" file-input="files" multiple>
</div>