<h1>Create a mission</h1>
<p>Upload your file to create a Sci-Discover product</p>

<form action="/missions">
    <input type="file" id="myFile" name="filename">
    <input type="submit" value="Create">
  </form>