<!--The map will go here-->

<div id ="map"></div>
<div id="coordinates">

</div>
<script>
    var data = <%-JSON.stringify(data)%>;
    var allcoords = []
    var json = []
    //console.dir(data[0][0])
    for (var i=0;data[0].length;i++) {
        try {
            if (i == 118) {
                break;
            }
        if(data[0][i][1] != null){
            let mid = data[0][i][1].coordinates
            let temp = data[0][i]
            json.push(temp)
            allcoords.push(mid)
        }
    } catch (error) {
        console.dir(error)
    }
    }
</script>
<script>
    var map = L.map('map').setView([53, -4], 6);
//var temp = JSON.stringify(addressPoints)
//console.dir(addressPoints.length)
var addressPoints = allcoords

L.tileLayer('').addTo(map);
var polygons = L.layerGroup();

const geojsonMarkerOptions = {
    radius: 8,
    fillColor: "#ff7800",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8,
  };
  //if (json[i][2] != null){
        //layer.bindPopup("<h1>"+json[i][2].name+"</h2><table><tr><td>ATOT:"+json[i][2].ATOT+"</td><td>ID:"+json[i][2].id+"</td></tr></table>")
for(var i=0;i<json.length;i++){
    L.geoJSON(json[i], {
    onEachFeature: function(feature, layer) {
            layer.bindPopup(feature)
    },
    pointToLayer: function (feature, latlng) {
      return L.circleMarker(latlng, geojsonMarkerOptions);
    },
  }).addTo(polygons);
}




var ctrl = L.control.layers([]);

var markers = L.markerClusterGroup();

console.dir(json[1])
for (var x = 0; x < json.length; x++) {
    //if(json[x][1]!=null){
        console.dir("x:"+x)
        try {
            for(var j=0; j<json[x][1].coordinates[0].length;j++){
                console.dir("j:"+j)
                for(var p=0;p<json[x][1].coordinates[0][j].length;p++){
                    console.dir("p:"+p)
                    var marker = new L.marker(new L.LatLng(json[x][1].coordinates[0][j][p][1], json[x][1].coordinates[0][j][p][0]));
                    //L.multiPolygon(new L.LatLng(allcoords[i][j][k])).addTo(markers)
                    markers.addLayer(marker);
                    map.addLayer(markers)
                }
            }
        } catch(error) {
            console.dir(error)
        }
   //}
}
ctrl.addOverlay(markers, 'Pins');
ctrl.addOverlay(polygons, 'Polygons');
ctrl.addTo(map);

//L.layerGroup(L.latlng)

// add map scale
L.control.scale({ position: 'bottomleft' }).addTo(map)


// add coordinate mouse position
map.on('mousemove', function(e) {
    var latlong = `+${e.latlng.lat.toFixed(10)} ${e.latlng.lng.toFixed(10)}`
    $('#coordinates').html(latlong)
});

// add sci logo onto map as overlay
L.Control.Watermark = L.Control.extend({
    onAdd: function(map) {
        var img = L.DomUtil.create('img')
        img.src = 'images/sci-logo.png'
        img.style.width = '60px'
        return img
    },
    onRemove: function(map) {}
});

L.control.watermark = function(openstreetmap) {
    return new L.Control.Watermark(openstreetmap)
}

L.control.watermark({ position: 'bottomright' }).addTo(map)
L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
    subdomains: 'abcd',
    maxZoom: 20
}).addTo(map)
</script>
<script src="../api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>