<!--The map will go here-->

<div id ="map"></div>
<div id="coordinates">

</div>
<script>
    var data = <%-JSON.stringify(data)%>;
    var allcoords = []
    var json = []
    console.dir(data[0][0])
    for (var i=0;data[0].length;i++) {
        try {
            if (i == 118) {
                break;
            }
        if(data[0][i][1] != null){
            let mid = data[0][i][1].coordinates
            let temp = data[0][i]
            json.push(temp)
            allcoords.push(mid)
        }
    } catch (error) {
        console.dir(error)
    }
    }
    console.log(json[0])
</script>
<script>
    var map = L.map('map').setView([53, -4], 6);
//var temp = JSON.stringify(addressPoints)
//console.dir(addressPoints.length)
var addressPoints = allcoords

L.tileLayer('').addTo(map);
var polygons = L.layerGroup();
var markers = L.markerClusterGroup();

const geojsonMarkerOptions = {
    radius: 8,
    fillColor: "#ff7800",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8,
  };

for(var i=0;i<json.length;i++){
    L.geoJSON(json[i], {
    onEachFeature: function(feature, layer) {
        if (json[i][2] != null){
        layer.bindPopup("<h1>"+json[i][2].name+
            "</h2><table><td><tr>ATOT:"+json[i][2].ATOT+
                "</tr><tr>\nmId:"+json[i][2].id+"</tr><tr>\nScenes:"+json[i][2].scenes[0]+"</tr></td></table>")
        //console.dir(feature)
        } else {
            layer.bindPopup("No metadata >:(")
        }
    },
    pointToLayer: function (feature, latlng) {
      return L.marker(feature.coordinates, geojsonMarkerOptions);
    }
  }).addTo(polygons);
}

var ctrl = L.control.layers([]);


for (var i = 0; i < allcoords.length; i++) {
    try {
        //console.dir(allcoords[i][0][0][0])
        for(var j=0; j< allcoords[i].length;j++){
            var array = []
            for(var k=0;k<allcoords[i][j].length;k++){
                var marker = L.marker(new L.LatLng(allcoords[i][j][k][0][1], allcoords[i][j][k][0][0]))
            }
            markers.addLayer(marker)
        }
        } catch(error) {
            console.dir(error)
        }
    }

ctrl.addOverlay(markers, 'Coverage');
ctrl.addOverlay(polygons, 'Missions');
ctrl.addTo(map);

//L.layerGroup(L.latlng)

// add map scale
L.control.scale({ position: 'bottomleft' }).addTo(map)


// add coordinate mouse position
map.on('mousemove', function(e) {
    var latlong = `+${e.latlng.lat.toFixed(10)} ${e.latlng.lng.toFixed(10)}`
    $('#coordinates').html(latlong)
});

// add sci logo onto map as overlay
L.Control.Watermark = L.Control.extend({
    onAdd: function(map) {
        var img = L.DomUtil.create('img')
        img.src = 'images/sci-logo.png'
        img.style.width = '60px'
        return img
    },
    onRemove: function(map) {}
});

L.control.watermark = function(openstreetmap) {
    return new L.Control.Watermark(openstreetmap)
}

L.control.watermark({ position: 'bottomright' }).addTo(map)
L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
    subdomains: 'abcd',
    maxZoom: 20
}).addTo(map)
</script>
<script src="../api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>