<!--The map will go here-->
<div id ="map"></div>
<div class="coordinates" 
        style="text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: smaller;
        font-weight: 50">
</div>

<script src="../map.js"></script>
<script src="../api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>