<h1>Product Coverage Viewer</h1>

    <!--We can access objects sent from the server by using the following syntax-->
    <h1>Welcome <%= JSON.stringify(data) || 'Default' %> </h1>

<script src="../map.js"></script>
<script src="../api.js"></script>
