<!--The map will go here-->

<div id ="map"></div>
<div id="coordinates">

</div>
<script>
    var data = <%-JSON.stringify(data)%>;
    //console.dir(data[0][117][1].coordinates)
    var allcoords = []
    for (var i=0;data[0][0].length-1;i++) {
        try {
            if (i == 118) {
                break;
            }
        if(data[0][0][1].coordinates[0] !== undefined){
            let mid = data[0][i][1].coordinates[0]
            console.dir(mid)
            //console.dir(i)
            allcoords.push(mid)
        }
    } catch (error) {
        console.dir(error)
    }
    }
    
    //console.dir(allcoords)
</script>
<script>
    var map = L.map('map').setView([53, -4], 6);

var addressPoints = allcoords[0]

var polygon = L.polygon([
    [51.509, -3.08],
    [51.51, -0.047],
    [55.503, -0.06],
    [55.503, -3.06]
])

L.tileLayer('').addTo(map);

var markers = L.markerClusterGroup();
var polygons = L.layerGroup([polygon]);

var ctrl = L.control.layers([]);
ctrl.addOverlay(markers, 'Pins');
ctrl.addOverlay(polygons, 'Polygons');
ctrl.addTo(map);

for (var i = 0; i < addressPoints.length; i++) {
    var a = addressPoints[i];
    var title = a[2];
    var marker = L.marker(new L.LatLng(a[0], a[1]), {
        title: title
    });
    marker.bindPopup(title);
    markers.addLayer(marker);
    map.addLayer(markers);
}

L.layerGroup(L.latlng)

// add map scale
L.control.scale({ position: 'bottomleft' }).addTo(map)


// add coordinate mouse position
map.on('mousemove', function(e) {
    var latlong = `+${e.latlng.lat.toFixed(10)} ${e.latlng.lng.toFixed(10)}`
    $('#coordinates').html(latlong)
});

// add sci logo onto map as overlay
L.Control.Watermark = L.Control.extend({
    onAdd: function(map) {
        var img = L.DomUtil.create('img')
        img.src = 'images/sci-logo.png'
        img.style.width = '60px'
        return img
    },
    onRemove: function(map) {}
});

L.control.watermark = function(openstreetmap) {
    return new L.Control.Watermark(openstreetmap)
}

L.control.watermark({ position: 'bottomright' }).addTo(map)
L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
    subdomains: 'abcd',
    maxZoom: 20
}).addTo(map)
</script>
<script src="../api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>