<div id="minimap"></div>
<div id="metadata">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Mission Metadata </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="results">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mission ID</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Date Created</th>
                <th scope="col">File Size</th>
                <th scope="col">Object Status</th>
                <th scope="col">Object Type</th>
                <th scope="col">Source Library</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">MISS100055</th>
                <td>53.2, -8.1</td>
                <td>10/01/2021</td>
                <td>2.5Mb</td>
                <td>NEW</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="../minimap.js">
</script>