<h1>Missions</h1>

<!--Table format-->

<!--Filter bar-->
<!--Filter all, filter by date added-->

<!--Search bar (search by ID)-->

<table>
    <tr>
      <th>Title</th>
      <th>Coordinates</th>
      <th>Date Stored</th>
      <th>File Size</th>
      <th>Object Start Date</th>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>

