<div id="minimap"></div>

<!--Create Mission Metadata (right-side of page)-->
<div id="metadata" class="hidden">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Mission Metadata</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%=data%></th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
        </tbody>
    </table>
</div>

<!--Display Missions (bottom of page)-->
<div id="results">
    <table class="table table-sm table-striped" id="mission">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mission ID</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Date Created</th>
                <th scope="col">File Size</th>
                <th scope="col">Object Status</th>
                <th scope="col">Object Type</th>
                <th scope="col">Source Library</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">MISS100055</th>
                <td>51.5, -0.5</td>
                <td>10/01/2021</td>
                <td>2.5Mb</td>
                <td>NEW</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>52.5, -0.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
        </tbody>
    </table>
    <script>
        // Highlight table row on click
        var table = document.getElementById('mission');
        var cells = table.getElementsByTagName('td');
        for (var i = 0; i < cells.length; i++) {
            var cell = cells[i];
            cell.onclick = function() {
                // Get the row id where the cell exists
                var rowId = this.parentNode.rowIndex;
                console.log(rowId);

                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].classList.remove('selected');
                }
                var rowSelected = table.getElementsByTagName('tr')[rowId];
                rowSelected.style.backgroundColor = "cornflowerblue";
                rowSelected.className += "selected";

                var showMetaData = document.getElementById('metadata');
                showMetaData.className -= "hidden";

                var scene = document.getElementById('scene');
                scene.className -= "hidden";

                var minimapShrink = document.getElementById('minimap');
                minimapShrink.className += " reduceSize";

                var resultsShrink = document.getElementById('results');
                resultsShrink.className += " reduceSize"

            }
        }

        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].addEventListener('click', function() {


                //Get zoom location from 2nd column
                var msg = '';
                var msgArray = [];
                for (var j = 1; j < 2; j++) {
                    msg += this.cells[j].innerHTML;
                    msgArray.push(msg)
                }

                //Creates mission object, should be replaced with API data
                var array = msgArray[0].split(",")
                var a = parseFloat(array[0])
                var b = parseFloat(array[1]) + 0.1
                var newArray = []
                newArray.push(a, b)
                map.setView(newArray, 12);
                var mission = {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "properties": {
                            "name": "Scene",
                            "popupContent": "EnterTextHere"
                        },
                        "geometry": {
                            "type": "Polygon",
                            "coordinates": [
                                [
                                    [-0.55, 51.48],
                                    [-0.55, 51.53],
                                    [-0.41, 51.53],
                                    [-0.41, 51.48]
                                ]
                            ]
                        }
                    }]
                }
                var AllProjectArray = L.geoJSON();
                AllProjectArray.addData(mission);
                AllProjectArray.addTo(map);

            });
        }
    </script>
</div>

<div id="scene" class="hidden">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th colspan="3">Mission Scenes </th>
            </tr>
        </thead>
        <tbody>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Scene ID</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">MISS100055</th>
                    <td>51.5, -0.5</td>
                    <td>10/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>52.5, -0.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
                <tr>
                    <th scope="row">MISS100056</th>
                    <td>58.2, -8.5</td>
                    <td>12/01/2021</td>
                </tr>
            </tbody>
    </table>

</div>




<script src=" ../minimap.js ">
</script>
<script src="../api.js "></script>