<div id="minimap"></div>
<div id="metadata">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Mission Metadata </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>2.5Mb</td>
            </tr>
            <tr>
                <th>Object Status</th>
                <td>NEW</td>
            </tr>
            <tr>
                <th>Object Type</th>
                <td>MISSION</td>
            </tr>
            <tr>
                <th>Source Library</th>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th>Mission ID</th>
                <td>MISS100055</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>53.2, -8.1</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>10/01/2021</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="results">
    <table class="table table-sm table-striped" id="miss">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mission ID</th>
                <th scope="col">Coordinates</th>
                <th scope="col">Date Created</th>
                <th scope="col">File Size</th>
                <th scope="col">Object Status</th>
                <th scope="col">Object Type</th>
                <th scope="col">Source Library</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">MISS100055</th>
                <td>51.5, -0.5</td>
                <td>10/01/2021</td>
                <td>2.5Mb</td>
                <td>NEW</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
            <tr>
                <th scope="row">MISS100056</th>
                <td>58.2, -8.5</td>
                <td>12/01/2021</td>
                <td>3.7Mb</td>
                <td>CHANGED</td>
                <td>MISSION</td>
                <td>GBR-IRL-HALLAM</td>
            </tr>
        </tbody>
    </table>
    <script>
        var table = document.getElementById('miss');
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].addEventListener('click', function() {
                var msg = '';
                var msgArray = [];
                for (var j = 1; j < 2; j++) {
                    msg += this.cells[j].innerHTML;
                    msgArray.push(msg)
                }
                for (var j = 0; j < this.cells.length; j++) {
                    this.cells[j].classList.toggle('highlight');
                }
                var array = msgArray[0].split(",")
                var a = parseFloat(array[0])
                var b = parseFloat(array[1])
                var newArray = []
                newArray.push(a, b)
                map.setView(newArray, 12);

            });
        }
    </script>
</div>
<script>
    //Use this to create  missions containing scenes
    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
        }
    }

    var mission = {
        "type": "FeatureCollection",
        "features": [{
            "type": "Feature",
            "properties": {
                "name": "Scene",
                "popupContent": "EnterTextHere"
            },
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [0.363, 51.694],
                        [0.37, 51.694],
                        [0.373, 51.739],
                        [0.366, 51.739],
                        [0.363, 51.694]
                    ]
                ]
            }
        }]
    }

    var map = new L.Map('minimap', {
        center: [53, -4],
        zoom: 6,
        cursor: true
    });

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.geoJSON(mission, {
        onEachFeature: onEachFeature
    }).addTo(map)
</script>