html {
    height: 100%;
}

body {
    font-size: 20px;
    font-family: 'Calibri';
    margin: 0 auto;
}


/*NAVBAR*/

.topnav {
    background-color: #343a40;
    overflow: hidden;
    display: flex;
    height: 50px;
    color: white;
}

.topnav a {
    float: left;
    text-align: center;
    margin-top: 0px;
    height: 100%;
    font-weight: bold;
    color: white;
}

.topnav a:hover {
    text-decoration: none;
}

.leftnav {
    font-weight: bold;
    width: 12%;
}

.leftnav a {
    padding: 12px 16px;
}

.leftnav a:hover {
    color: white;
}

.centernav a,
.rightnav a {
    font-size: 17px;
    padding: 12px 16px;
}

.centernav a:hover,
.rightnav a:hover {
    color: #343a40;
    background-color: white;
}

.rightnav {
    margin-left: auto;
    margin-right: 0;
    color: white;
}

.rightnav img {
    width: 25px;
    height: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#map {
    height: 610px;
}

#minimap {
    height: 400px;
    width: 100%;
    float: left;
}

#metadata {
    width: 30%;
    float: right;
}

#results {
    width: 100%;
    height: 250px;
}

thead {
    font-size: 16px;
}

tbody {
    font-size: 12px;
}

.btn-secondary {
    color: white;
}

.rightnav .search-bar {
    float: left;
    margin-top: 10px;
    width: 280px;
}

#search-field {
    width: 100%;
    font-family: Calibri;
}

#mission tr {
    cursor: pointer;
}

.not-found {
    text-align: center;
    margin-top: 350px;
}

#info {
    margin-top: 30px;
}

#return-to-homepage {
    margin-top: 50px;
}

.selected {
    color: white;
}

.hidden {
    display: none;
}

#scene {
    width: 30%;
    height: 100px;
    float: left;
}

.reduceSize {
    width: 70% !important;
}

#coordinates {
    background-color: #262626;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    font-weight: 20;
    color: white;
    height: 20px;
}

#coordinates p {
    color: white;
}

.input { 
    display: flex;
    justify-content: center;
    align-items: center; /* Optional */
    text-align: center;
    margin: 0 auto;
}