/*NAVBAR*/


/* Add a black background color to the top navigation */

.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    height: 50px;
    color: white;
}


/* Style the links inside the navigation bar */

.topnav a {
    background-color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.leftnav {
    text-align: left;
    padding: 15px;
    margin-left: 0;
    font-weight: bold;
}

.logo {
    margin: auto;
}

.rightnav {
    margin-left: auto;
    margin-right: 0;
}

.rightnav img {
    width: 25px;
    height: 25px;
}

body {
    background-color: #f5f5f5;
    font-size: 20px;
    font-family: 'Calibri';
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#map {
    height: 700px;
}